
<div class="dir">
    <b class="b1">&nbsp;</b><b class="b2">&nbsp;</b><b class="b3">&nbsp;</b><b class="b4">&nbsp;</b>
    <div class="boxcontent">
        [+easy2:galleryplugin+]
        <a href="[+easy2:link+][+easy2:cat_id+][+easy2:cat_tag+]#[+easy2:permalink+]">
            <img src="[+easy2:src+]" alt="[+easy2:title+]" title="[+easy2:title+]-[+easy2:cat_summary+]" width="[+easy2:w+]" height="[+easy2:h+]" />
        </a>
        <div>
            <b><a href="[+easy2:link+][+easy2:cat_id+][+easy2:cat_tag+]#[+easy2:permalink+]">[+easy2:title+]<!-- ([+easy2:count+])--></a>&nbsp;</b>
        </div>
    </div>
    <b class="b4b">&nbsp;</b><b class="b3b">&nbsp;</b><b class="b2b">&nbsp;</b><b class="b1b">&nbsp;</b>
</div>