
<div class="e2g_wrapper" id="[+easy2:wrapper+]_[+easy2:sid+]">
    [+easy2:permalink+]
    <div class="e2gdir" [+easy2:desc_class+]>
         <div class="e2gtitle">[+easy2:title+]</div>
        <div class="e2gdesc">[+easy2:cat_description+]</div>
    </div>
    <div class="e2g_gallery" id="e2g_gallery_[+easy2:sid+]">
        <div class="e2gback">[+easy2:back+]</div>
        <div class="e2g_crumbs">[+easy2:crumbs+]</div>
        <table class="e2g_prevupnext">
            <tr>
                <td class="e2g_prev">[+easy2:prev_link+]</td>
                <td class="e2g_up">[+easy2:up_link+]</td>
                <td class="e2g_next">[+easy2:next_link+]</td>
            </tr>
        </table>
        [+easy2:content+]
        <div class="e2gpnums">[+easy2:pages+]</div>
    </div>
</div>