
<div class="thumb">
    <b class="b1">&nbsp;</b><b class="b2">&nbsp;</b><b class="b3">&nbsp;</b><b class="b4">&nbsp;</b>
    <div class="boxcontent">
        [+easy2:thumbplugin+]
        <a href="[+easy2:link+]" title="[+easy2:title+]-[+easy2:summary+]" [+easy2:glibact+]>
           <img src="[+easy2:src+]" alt="[+easy2:title+]" width="[+easy2:w+]" height="[+easy2:h+]" />
        </a>
        <div>
            <span class="[+easy2:com+]">[+easy2:comments+]</span>
            <span class="thumbname">[+easy2:title+]</span>
        </div>
        <div id="description_[+easy2:id+]" style="display: none; color: gray;">
            [+easy2:description+]
        </div>
    </div>
    <b class="b4b">&nbsp;</b><b class="b3b">&nbsp;</b><b class="b2b">&nbsp;</b><b class="b1b">&nbsp;</b>
</div>