
<div class="thumb">
    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
    <div class="boxcontent">
        <a href="assets/modules/easy2/show.easy2gallery.php?id=[+easy2:id+]" title="[+easy2:title+] - [+easy2:description+]" [+easy2:glibact+]>
           <img src="[+easy2:src+]" alt="[+easy2:title+]" title="[+easy2:title+]" width="[+easy2:w+]" height="[+easy2:h+]">
        </a>
        <div>
            <span class="[+easy2:com+]">[+easy2:comments+]</span>
            [+easy2:name+]
        </div>
    </div>
    <b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>